<header>
	<div></div>
	<div>
		<h1 class="text-center">HOME</h1>
		<h2 class="text-center">Basic proyect</h2>
		<a href="/login" class="d-flex justify-content-center ">Go to login</a>
		<a href="/signup" class="d-flex justify-content-center ">Go to signup</a>
	</div>
</header>