<header>
	<div>
		<h1 class="text-center">SIGNUP</h1>
		<a href="/home" class="d-flex justify-content-center ">Go home</a>
		<a href="/login" class="d-flex justify-content-center ">Go to login</a>
	</div>
</header>